#banner{
    padding-top: 10px;
}

.form-check-label{
    font-size: 24px;
    margin-left: 20px;
}

input[type=radio] {
    width: 30px;
    height: 30px;
}

.form-check{
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-check:hover{
    color:white;
    background-color:blue;
}