#banner{
    padding-top: 10px;
    background: lightblue;
}

h1{
    font-family: 'ZCOOL KuaiLe', cursive, arial;
} 

#gameContainer{
    background: #96f2ed;
    min-height: 70vh;
}

#startButtonDisplay{
    height:200px;
    padding-top: 100px;
}

#startButtonDisplay div{
    padding: 20px;
}

#timeDisplay{
    display: none;   
    padding: 20px; 
}

#questionDisplay{
    display: none;
    padding-top: 0;
}

#questionResult{
    padding-top: 50px;
}

#question{
    padding: 20px;
    padding-top: 0;
}

#answerDisplay{
    display: none;
    padding-top: 0;
}

#answerImage{
    max-height: 300px;
    max-width: 300px;
}

#gameResultsDisplay{
    display: none;
    padding: 20px;
}

#gameResultsDisplay h3{
    padding-bottom: 20px;
}

#startButton, #reStartButton{
    font-size: 36px;
    width: 80%;
}

#gameResultsDisplay{
    padding-top: 20px;
}

#gameStats{
    padding-bottom: 20px;
}

.form-check{
    padding-left: 0;
}

.form-check-label{
    padding-left: 0;
    font-size: 24px;
    width: 100%;
}

input[type=radio] {
    width: 30px;
    height: 30px;
    visibility: hidden;
}

.form-check{
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-check-input:hover{
    /* color:white; */
    background-color:blue;
}

.form-check-label:hover{
    color:white;
    background-color:blue;   
}



