#banner{
    padding-top: 10px;
}

.form-check{
    padding-left: 0;
}
.form-check-label{
    font-size: 24px;
    width: 100%;
}

input[type=radio] {
    width: 30px;
    height: 30px;
    visibility: hidden;
}

.form-check{
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-check-input:hover{
    /* color:white; */
    background-color:blue;
}

.form-check-label:hover{
    color:white;
    background-color:blue;   
}

